<div class="container createWorkoutlog-container">

  {{!-- modal code --}}
  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Confirm?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this workout log?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a class="btn btn-danger" href="/workout/{{workoutId}}">Delete</a>
        </div>
      </div>
    </div>
  </div>

  {{!-- rest of page --}}
  <div class="d-flex row">
    <h1 class="mr-auto">Log a Workout for "{{workout.name}}"</h1>
    <div class="ml-auto mt-2">
      <button id="logButton" class="btn btn-primary mr-1">Log</button>
      <button id="deleteLogButton" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Delete</button>
    </div>
  </div>
  {{#if errors}}
  {{#each errors}}
  <div class="container text-center errorContainer">
    <div class="alert alert-danger alert-dismissible row" role="alert">
      <div>{{error}}</div>
      <button type="button" class="close errorBtn" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {{/each}}
  {{/if}}
  <div class="card mb-2">
    <div class="card-body">
      <form id="form-workoutlog" class="form-workoutlog" method="POST" action="/workout{{workoutId}}/log" novalidate>
        <div class="form-group row">
          <label for="inputIntensity" class="col-sm-4 col-form-label">Workout Intensity (0-5)</label>
          <div class="col-sm-8">
            <input id="inputIntensity" name="inputIntensity" value="{{workout.intensity}}" type="number" class="form-control" id="inputIntensity" placeholder="Intensity" required>
          </div>
          <div class="invalid-feedback">
            Workout intensity must be provided
          </div>
        </div>
        <div class="form-group row">
          <label for="inputLength" class="col-sm-4 col-form-label">Length (Minutes)</label>
          <div class="col-sm-8">
            <input id="inputLength" name="inputLength" value="{{workout.length}}" type="number" class="form-control" id="inputLength" placeholder="Length (Minutes)" required>
          </div>
          <div class="invalid-feedback">
            Workout length must be provided
          </div>
        </div>
        <div class="form-group row">
          <label for="inputDate" class="col-sm-4 col-form-label">Date of workout</label>
          <div class="col-sm-8">
            <input id="inputDate" name="inputLength" type="datetime-local" class="form-control" id="inputDate" required>
          </div>
          <div class="invalid-feedback">
            Workout date must be provided
          </div>
        </div>

        <div class="form-group row">
          <label for="inputComment" class="col-sm-4 col-form-label">Comment</label>
          <div class="col-sm-8">
            <textarea id="inputComment" name="inputComment" type="date" placeholder="Workout comment" class="form-control" id="inputComment"></textarea>
          </div>
          <div class="invalid-feedback">
            If provided, workout comment cannot be empty
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="card mb-2">
    <div class="card-body">
      <h3>Exercises</h3>
      <div id="loggedExercises">
        {{#each workout.exercises}} 
        <div class="card mb-2" id="workoutlog-exerice{{@index}}">

          <div class="card-body">
            <div class="card-title d-flex flex-row justify-content-between">
              <h4 class="">Chest Press</h4> {{!GET EXERCISE NAME SOMEHOW}}
              <button id="removeExerciseButton" class="btn btn-outline-danger">Remove Exercise</button>
            </div>

            <form id="form-workoutlog-exerice" class="form-workoutlog-exerice" novalidate>
              <div class="form-group row">
                <label for="inputExerciseSet" class="col-sm-4 col-form-label">Sets</label>
                <div class="col-sm-8">
                  <input id="inputExerciseSet" data-exerciseid="{{exerciseId}}" name="inputExerciseSet" value="{{sets}}" type="number" class="form-control" id="inputExerciseSet" placeholder="Sets" required>
                </div>
                <div class="invalid-feedback">
                  Exercise set count must be provided
                </div>
              </div>

              <div class="form-group row">
                <label for="inputExerciseReps" class="col-sm-4 col-form-label">Reps</label>
                <div class="col-sm-8">
                  <input id="inputExerciseReps" name="inputExerciseReps" value="{{repetitions}}" type="number" class="form-control" id="inputExerciseReps" placeholder="Repetitions" required>
                </div>
                <div class="invalid-feedback">
                  Exercise repetition count must be provided
                </div>
              </div>

              <div class="form-group row">
                <label for="inputExerciseRest" class="col-sm-4 col-form-label">Rest</label>
                <div class="col-sm-8">
                  <input id="inputExerciseRest" name="inputExerciseRest" value="{{rest}}" type="number" class="form-control" id="inputExerciseRest" placeholder="Rest" required>
                </div>
                <div class="invalid-feedback">
                  Exercise rest must be provided
                </div>
              </div>

              <div class="form-group row">
                <label for="inputExerciseWeight" class="col-sm-4 col-form-label">Weight</label>
                <div class="col-sm-8">
                  <input id="inputExerciseWeight" name="inputExerciseWeight" value="{{weight}}" type="number" class="form-control" id="inputExerciseWeight" placeholder="Weight">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputExerciseNote" class="col-sm-4 col-form-label">Note</label>
                <div class="col-sm-8">
                  <input id="inputExerciseNote" name="inputExerciseNote" value="{{note}}" type="text" class="form-control" id="inputExerciseNote" placeholder="Note">
                </div>
              </div>

            </form>
          </div>

        </div>  
        {{/each}} 
      </div> 
    </div>
  </div>
  <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Exercise</h4>
        <div class="form-group">
          <label for="addExerciseInput" class="sr-only">Add Exerice</label>
          <input id="addExerciseInput" name="addExerciseInput" type="text" class="form-control" id="addExerciseInput" placeholder="Exercise Name">          
        </div>
        <div id="exerciseList-container"></div>
      </div>
    </div>
    <script src="../../public/js/createworkoutlog.js"></script>
</div>