<div class="container profile-container">
  {{#if error}}
    <div class="container text-center errorContainer">
      <div class="alert alert-danger alert-dismissible row" role="alert">
        <div>{{error}}</div>
        <button type="button" class="close errorBtn" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {{/if}}
  {{#if errors}}
  {{#each errors}}
  <div class="container text-center errorContainer">
    <div class="alert alert-danger alert-dismissible row" role="alert">
      <div>{{error}}</div>
      <button type="button" class="close errorBtn" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {{/each}}
  {{/if}}
  <h1>My Profile</h1>
  <div class="row gutters-sm">
    <div class="col-md-5 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="mt-3 profile-card">
              <h4>{{user.userInfo.firstName}} {{user.userInfo.lastName}}</h4>
              <p class="text-secondary">{{user.userInfo.bio}}</p>
              <div class="d-flex flex-row align-items-center text-center">
                <div class="flex-fill">
                  <h6 class="mb-0">Likes:</h6>
                  <span class="text-secondary">{{user.totalLikesReceived}}</span>
                </div>
                <div class="flex-fill">
                  <h6 class="mb-0">Comments:</h6>
                  <span class="text-secondary">{{user.totalCommentsReceived}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card mb-3">
        <div class="card-body">
          <form id="profile_edit-form" method="POST" action="/profile_edit" novalidate>
          <div class="row">
            <div id="fnLabel" class="col-sm-5">
              Full Name
            </div>
            <div id="fnText" class="col-sm-7 text-secondary">
              {{user.userInfo.firstName}} {{user.userInfo.lastName}}
            </div>
            <div id="editFn" hidden class="form-group col-md-6">
              <label for="inputFirstName">First Name</label>
              <input value="{{user.userInfo.firstName}}" name="inputFirstName" type="text" pattern="^[a-zA-Z]+(?:\s+[a-zA-Z]+)*$" class="form-control" id="inputFirstName" placeholder="First Name" required>
              <div class="invalid-feedback">
                First name cannot have numbers, be empty, or just spaces
              </div>
            </div>
            <div id="editLn" hidden class="form-group col-md-6">
              <label for="inputLastName">Last Name</label>
              <input value="{{user.userInfo.lastName}}" name="inputLastName" type="text" pattern="^[a-zA-Z]+(?:\s+[a-zA-Z]+)*$" class="form-control" id="inputLastName" placeholder="Last Name">
              <div class="invalid-feedback">
                If provided, last name cannot have numbers or be just spaces
              </div>
            </div> 
          </div>
          <hr>
          <div class="row">
            <div id="emailLabel" class="col-sm-5">
              Email
            </div>
            <div id="emailText" class="col-sm-7 text-secondary">
              {{user.email}}
            </div>
            <label id="editEmailLabel" hidden class="col-sm-5" for="inputEmail">Email address</label>
            <input hidden value="{{user.email}}" name="inputEmail" type="email" class="form-control col-sm-6 text-secondary" id="inputEmail" aria-describedby="emailHelp" placeholder="Email address" required>
            <div class="invalid-feedback">
              Email must be provided and be valid
            </div>
          </div>
          <div hidden id="hr"><hr></div>
          <div id="editPassword" hidden class="row">
            <label class="col-sm-5" for="inputPassword">Password</label>
            <input value="{{password}}" name="inputPassword" type="password" class="form-control col-sm-6" id="inputPassword" aria-describedby="passwordHelpBlock" placeholder="Password" required>
            <small id="passwordHelpBlock" class="form-text text-muted col-sm-5">
              Password must be provided
            </small>
          </div>
          <hr>
          <div class="row">
            <div id="dateLabel" class="col-sm-5">
              Birthday
            </div>
            <div id="dateText"class="col-sm-7 text-secondary">
              {{dateFormat user.userInfo.birthDate "MM/DD/YYYY"}}
            </div>
            <label id="editDateLabel" hidden for="inputBirthDate" class="col-sm-5">Birth Date</label>
            <input hidden value="{{dateFormat user.userInfo.birthDate "YYYY-MM-DD"}}" name="inputBirthDate" type="date" class="form-control col-sm-6 text-seocndary" id="inputBirthDate" required>
            <div class="invalid-feedback">
              Birthdate must be provided
            </div>
          </div> 
          <hr>
          <div class="row">
            <div id="weightLabel" class="col-sm-5">
              Weight
            </div>
            <div id="weightText" class="col-sm-7 text-secondary">
              {{check user.userInfo.weight 0 ' lbs'}}
            </div>
            <label id="editWeightLabel" hidden class="col-sm-5" for="inputWeight">Weight</label>
            <input hidden value="{{user.userInfo.weight}}" min=0 name="inputWeight" type="number" class="form-control col-sm-6 text-secondary" id="inputWeight" placeholder="Weight (lbs)">
            <div class="invalid-feedback">
              If provided, weight needs to be between [0, 1400] 
            </div>
          </div>
          <hr>
          <div class="row">
            <div id="heightLabel" class="col-sm-5">
              Height
            </div>
            <div id="heightText" class="col-sm-7 text-secondary">
              {{heightFormat user.userInfo.height}}
            </div>
            <label id="editHeightLabel" hidden class="col-sm-5" for="inputHeight">Height</label>
            <input hidden value="{{user.userInfo.height}}" min=0 name="inputHeight" type="number" class="form-control col-sm-6 text-secondary" id="inputHeight" placeholder="Height (in)">
            <div class="invalid-feedback">
              If provided, height needs to be between [0, 108]
            </div>
          </div>
          <hr>
          <div class="row">
            <div id="fLabel" class="col-sm-5">
              Frequency
            </div>
            <div id="fText" class="col-sm-7 text-secondary">
              {{check user.userInfo.frequencyOfWorkingOut 0 ' times a week'}}
            </div>
            <label id="editFLabel" hidden class="col-sm-5" for="inputFrequency">Frequency</label>
            <input hidden value="{{user.userInfo.frequencyOfWorkingOut}}" min=0 max=7 name="inputFrequency" type="number" class="form-control col-sm-6 text-secondary" id="inputFrequency" aria-describedby="emailHelp" placeholder="Frequency of working out per week">
            <div class="invalid-feedback">
              If provided, frequency needs to be between [0, 7]
            </div>
          </div>
          <hr>
          <div class="row">
            <div id="bioLabel" class="col-sm-5">
              Bio
            </div>
            <div id="bioText" class="col-sm-7 text-secondary">
              {{check user.userInfo.bio "" ""}}
            </div>
            <label id="editBioLabel" hidden class="col-sm-5" for="inputBio">Bio</label>
            <textarea hidden name="inputBio" rows="3" class="form-control col-sm-6 text-secondary" id="inputBio" placeholder="Biography">{{user.userInfo.bio}}</textarea>
            <div class="invalid-feedback">
              If provided, biography cannot be just spaces
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              {{!-- need to make it where it just lets the fields be editable (ajax request) --}}
              <a id="editProfile" class="btn btn-info" href="#" onclick="editProfile()">Edit Profile</a>
              <button id="saveProfile" hidden class="btn btn-primary" type="submit">Save Profile</button>
              <a class="btn btn-danger" href="/profile_delete" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</a>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5>Created Workouts</h5>
      {{!-- this is made for each workout card--}}
      {{#if user.userMadeWorkouts.length}}
        {{#each user.userMadeWorkouts}}
          <div class="card">
            <div class="card-body">
              <div class="row">
                <h4 class="card-title">My Chest-day Workout</h4>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
      <h4 class="card-title">No workouts available</h4>
      {{/if}}
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5>Logged Workouts</h5>
      {{!-- this is made for each workout log card --}}
      {{#if workoutLogs.length}}
        {{#each workoutLogs}}
          <div class="card border-5 pb-0 px-3">
            <div class="card-body">
              <div class="row">
                {{!-- figure out if we want to get the parentWorkout name here --}}
                <div class="col-12">
                  <h4 class="card-title">{{name}}</h4>
                </div>
                <div class="col">
                  <div class="card-subtitle mb-2 text-muted">
                    Logged on  {{dateFormat logInfo.date "dddd, MMMM Do, YYYY"}}
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row flex-wrap justify-content-between align-items-center text-center">
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column mr-4">
                    <h6 class="mb-0">Intensity:</h6>
                    <span class="text-secondary">{{logInfo.intensity}}</span>
                  </div>
                  <div class="d-flex flex-column mr-4">
                    <h6 class="mb-0">Length:</h6>
                    <span class="text-secondary">{{logInfo.length}}</span>
                  </div>
                  <div class="d-flex flex-column mr-4">
                    <h6 class="mb-0">Exercises:</h6>
                    <span class="text-secondary">{{logInfo.exercises.length}}</span>
                  </div>
                </div>
                
                <div>
                  <a class="btn btn-primary" href="/workoutLog/{{_id}}">View</a>
                  <a class="btn btn-outline-primary" href="/workout/{{workout}}/logedit/{{_id}}">Edit Workout Log</a>
                </div>
              </div>

            </div>
          </div>
          {{#if @last}}
          {{else}}
            <hr>
          {{/if}}
        {{/each}}
      {{else}}
      {{!-- TODO: what to show when there are no workoutLogs --}}
      <h4 class="card-title">No workout logs available</h4>
      {{/if}}
    </div>
  </div>
  <script src="../../public/js/profile.js"></script>
</div>