<div class="container profile-container">
  {{#if error}}
    <div class="container text-center errorContainer">
      <div class="alert alert-danger alert-dismissible row" role="alert">
        <div>{{error}}</div>
        <button type="button" class="close errorBtn" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  {{/if}}
  {{#if errors}}
  {{#each errors}}
  <div class="container text-center errorContainer">
    <div class="alert alert-danger alert-dismissible row" role="alert">
      <div>{{error}}</div>
      <button type="button" class="close errorBtn" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {{/each}}
  {{/if}}
  {{#if user}}
  <h1>My Profile</h1>
  <div class="row gutters-sm">
    <div class="col-md-5 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="mt-3 profile-card">
              <h4>{{user.userInfo.firstName}} {{user.userInfo.lastName}}</h4>
              <p class="text-secondary">{{user.userInfo.bio}}</p>
              <div class="d-flex flex-row align-items-center text-center">
                <div class="flex-fill">
                  <h6 class="mb-0">Likes:</h6>
                  <span class="text-secondary">{{user.totalLikesReceived}}</span>
                </div>
                <div class="flex-fill">
                  <h6 class="mb-0">Comments:</h6>
                  <span class="text-secondary">{{user.totalCommentsReceived}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card mb-3">
        <div class="card-body">
          <form id="profile_edit-form" method="POST" action="/profile_edit" novalidate>
          <div class="row">
            <div id="fnLabel" class="col-sm-5">
              Full Name
            </div>
            <div id="fnText" class="col-sm-7 text-secondary">
              {{user.userInfo.firstName}} {{user.userInfo.lastName}}
            </div>
            <div id="editFn" hidden class="form-group col-md-6">
              <label for="inputFirstName">First Name</label>
              <input value="{{user.userInfo.firstName}}" name="inputFirstName" type="text" pattern="^[a-zA-Z]+(?:\s+[a-zA-Z]+)*$" class="form-control" id="inputFirstName" placeholder="First Name" required>
              <div class="invalid-feedback">
                First name cannot have numbers, be empty, or just spaces
              </div>
            </div>
            <div id="editLn" hidden class="form-group col-md-6">
              <label for="inputLastName">Last Name</label>
              <input value="{{user.userInfo.lastName}}" name="inputLastName" type="text" pattern="^[a-zA-Z]+(?:\s+[a-zA-Z]+)*$" class="form-control" id="inputLastName" placeholder="Last Name">
              <div class="invalid-feedback">
                If provided, last name cannot have numbers or be just spaces
              </div>
            </div> 
          </div>
          <hr>
          <div class="row">
            <div id="emailLabel" class="col-sm-5">
              Email
            </div>
            <div id="emailText" class="col-sm-7 text-secondary">
              {{user.email}}
            </div>
            <label id="editEmailLabel" hidden class="col-sm-5" for="inputEmail">Email address</label>
            <input hidden value="{{user.email}}" name="inputEmail" type="email" class="form-control col-sm-6 text-secondary" id="inputEmail" placeholder="Email address" required>
            <div class="invalid-feedback">
              Email must be provided and be valid
            </div>
          </div>
          <div hidden id="hr"><hr></div>
          <div id="editPassword" hidden class="row">
            <label class="col-sm-5" for="inputPassword">Password</label>
            <input value="{{password}}" name="inputPassword" type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" class="form-control col-sm-6" id="inputPassword" aria-describedby="passwordHelpBlock" placeholder="Password" required>
            <small id="passwordHelpBlock" class="form-text text-muted col-sm-5">
              Password must be at at least eight characters, containing at least one uppercase letter, one lowercase letter, one number, and one special character
            </small>
          </div>
          <hr>
          <div class="row">
            <div id="dateLabel" class="col-sm-5">
              Birthday
            </div>
            <div id="dateText"class="col-sm-7 text-secondary">
              {{dateFormat user.userInfo.birthDate "MM/DD/YYYY"}}
            </div>
            <label id="editDateLabel" hidden for="inputBirthDate" class="col-sm-5">Birth Date</label>
            <input hidden value="{{dateFormat user.userInfo.birthDate "YYYY-MM-DD"}}" name="inputBirthDate" type="date" class="form-control col-sm-6 text-seocndary" id="inputBirthDate" required>
            <div class="invalid-feedback">
              Birthdate must be provided
            </div>
          </div> 
          <hr>
          <div class="row">
            <div id="weightLabel" class="col-sm-5">
              Weight
            </div>
            <div id="weightText" class="col-sm-7 text-secondary">
              {{check user.userInfo.weight 0 ' lbs'}}
            </div>
            <label id="editWeightLabel" hidden class="col-sm-5" for="inputWeight">Weight</label>
            <input hidden value="{{user.userInfo.weight}}" min=0 name="inputWeight" type="number" class="form-control col-sm-6 text-secondary" id="inputWeight" placeholder="Weight (lbs)">
            <div class="invalid-feedback">
              If provided, weight needs to be between [0, 1400] 
            </div>
          </div>
          <hr>
          <div class="row">
            <div id="heightLabel" class="col-sm-5">
              Height
            </div>
            <div id="heightText" class="col-sm-7 text-secondary">
              {{heightFormat user.userInfo.height}}
            </div>
            <label id="editHeightLabel" hidden class="col-sm-5" for="inputHeight">Height</label>
            <input hidden value="{{user.userInfo.height}}" min=0 name="inputHeight" type="number" class="form-control col-sm-6 text-secondary" id="inputHeight" placeholder="Height (in)">
            <div class="invalid-feedback">
              If provided, height needs to be between [0, 108]
            </div>
          </div>
          <hr>
          <div class="row">
            <div id="fLabel" class="col-sm-5">
              Frequency
            </div>
            <div id="fText" class="col-sm-7 text-secondary">
              {{check user.userInfo.frequencyOfWorkingOut 0 ' times a week'}}
            </div>
            <label id="editFLabel" hidden class="col-sm-5" for="inputFrequency">Frequency</label>
            <input hidden value="{{user.userInfo.frequencyOfWorkingOut}}" min=0 max=7 name="inputFrequency" type="number" class="form-control col-sm-6 text-secondary" id="inputFrequency" placeholder="Frequency of working out per week">
            <div class="invalid-feedback">
              If provided, frequency needs to be between [0, 7]
            </div>
          </div>
          <hr>
          <div class="row">
            <div id="bioLabel" class="col-sm-5">
              Bio
            </div>
            <div id="bioText" class="col-sm-7 text-secondary">
              {{check user.userInfo.bio "" ""}}
            </div>
            <label id="editBioLabel" hidden class="col-sm-5" for="inputBio">Bio</label>
            <textarea hidden name="inputBio" rows="3" class="form-control col-sm-6 text-secondary" id="inputBio" placeholder="Biography">{{user.userInfo.bio}}</textarea>
            <div class="invalid-feedback">
              If provided, biography cannot be just spaces
            </div>
          </div>
          {{#if isUser}}
          <hr>
          <div class="row">
            <div class="col-sm-12">
              {{!-- need to make it where it just lets the fields be editable (ajax request) --}}
              <a id="editProfile" class="btn btn-info" href="#" onclick="editProfile()">Edit Profile</a>
              <button id="saveProfile" hidden class="btn btn-primary" type="submit">Save Profile</button>
              <a class="btn btn-danger" href="/profile_delete" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</a>
            </div>
          </div>
          {{/if}}
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card p-card">
    <h5 class="card-header">Created Workouts</h5>
    <div class="card-body bg-light">
      {{!-- this is made for each workout card--}}
      {{#if user.userMadeWorkouts.length}}
        {{#each workouts}}
          <div class="card profile-card">
            <div class="card-body">
              <div class="row">
                <a class="profile-text" href="/workout/{{this._id}}">
                  <h4 class="card-text">{{this.name}}</h4>
                  <p class="card-text">
                     <span class="mb-1 profile-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                      </svg>  {{this.length}} minutes</span>
                      <small class="profile-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                      <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"/>
                    </svg>  {{this.usersLiked.length}}</small>
                  </p>
                </a>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
      <h4 class="card-title">No workouts available</h4>
      {{/if}}
    </div>
  </div>
  {{#if isUser}}
    <div class="card p-card">
      <h5 class="card-header">Logged Workouts</h5>
        <div class="card-body bg-light">
        {{!-- this is made for each workout log card --}}
        {{#if workoutLogs.length}}
          {{#each workoutLogs}}
            <div class="card border-5 pb-0 px-3">
              <div class="card-body">
                <div class="row">
                  {{!-- figure out if we want to get the parentWorkout name here --}}
                  <div class="col-12">
                    <h4 class="card-title">{{workout}}</h4>
                  </div>
                  <div class="col">
                    <div class="card-subtitle mb-2 text-muted">
                      Logged on  {{dateFormat logInfo.date "dddd, MMMM Do, YYYY"}}
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row flex-wrap justify-content-between align-items-center text-center">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column mr-4">
                      <h6 class="mb-0">Intensity:</h6>
                      <span class="text-secondary">{{logInfo.intensity}}</span>
                    </div>
                    <div class="d-flex flex-column mr-4">
                      <h6 class="mb-0">Length:</h6>
                      <span class="text-secondary">{{logInfo.length}}</span>
                    </div>
                    <div class="d-flex flex-column mr-4">
                      <h6 class="mb-0">Exercises:</h6>
                      <span class="text-secondary">{{logInfo.exercises.length}}</span>
                    </div>
                  </div>
                  
                  <div>
                    <button class="btn btn-primary" href="/workoutLog/{{logInfo.workout}}">View</button>
                    <button class="btn btn-outline-primary" href="/workoutLog/edit/{{logInfo.workout}}">Edit Workout Log</button>
                  </div>
                </div>

              </div>
            </div>
            {{#if @last}}
            {{else}}
              <hr>
            {{/if}}
          {{/each}}
        {{else}}
        <h4 class="card-title">No workout logs available</h4>
        {{/if}}
      </div>
    </div>
  {{/if}}
  <div class="card p-card">
    <h5 class="card-header">Most Recent Liked Workouts</h5>
      <div class="card-body bg-light">
      {{!-- this is made for each workout card--}}
      {{#if user.userLikedWorkouts.length}}
        {{#each likedWorkouts}}
          <div class="card">
            <div class="card-body">
              <div class="row">
                <a class="profile-text" href="/workout/{{this._id}}">
                  <h4 class="card-title">{{this.name}}</h4>
                  <p class="card-text">
                     <span class="mb-1 profile-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                      </svg>  {{this.length}} minutes</span>
                      <small class="profile-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                      <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"/>
                    </svg>  {{this.usersLiked.length}}</small>
                  </p>
                </a>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
      <h4 class="card-title">No liked workouts available</h4>
      {{/if}}
    </div>
  </div>
  <script src="../../public/js/profile.js"></script>
</div>
{{/if}}