{{#if errors}}
    {{#each errors}}
    <p class="error">{{this}}</p>
    {{/each}}
{{/if}}    
{{#if workout}}
    <h1>{{workout.name}}</h1>    
    <section id="workoutInfo">
        <ul>
            <li><a href="/user/{{workout.author}}">Author</a></li>
            <li id="totalLikes">Likes: {{workout.usersLiked.length}}</li>
            <li>Intensity: {{workout.intensity}}/5</li>
            <li>Length: {{workout.length}} minutes</li>
        </ul>
    </section>
    {{#if user}}
        {{#if isAuthor}}
        <section id="workoutAuthorOptions">
            <form action="/workout/{{workout._id}}/delete" method="POST">
                <input type="hidden" id="workoutId" name="workoutId" value="{{workout._id}}">
                <button type="submit">Delete Workout</button>
            </form>
            <a href="/workout/{{workout._id}}/edit">Edit Workout</a>
        </section>
         {{/if}}
        <section id="userOptions">
            {{#if workoutLog}}
                <a href="/workoutLog/{{workoutLog}}">My Workout Log</a>
            {{else}}
                <a href="/workout/{{workout._id}}/log">Create Workout Log</a>
            {{/if}}
            <a href="/workout/{{workout._id}}/copy">Copy Workout</a>
            <button type="checkbox" id="likeButton">Like</button>
            <p class="hidden" id="likeResult"></p>
        </section>
    {{/if}}            
    <section id="exercises">
        <h2>Exercises</h2>
        {{#if exercises.length}}
        <ul>
            {{#each exercises}}
            <li>
                <section class="exercise" id="this.exerciseId">
                    <h3><a href="/exercise/{{this.exerciseId}}">{{this.name}}</a></h3>
                    <ul>
                        <li>Sets: {{this.sets}}</li>
                        <li>Rest: {{this.repetitions}}</li>
                        {{#if this.weight}}
                            <li>Weight: {{this.weight}}lbs</li>
                        {{/if}}
                        {{#if this.comment}}
                            <li>Comment: {{this.comment}}</li>
                        {{/if}}
                    </ul>
                </section>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </section>
    <section id="comments">
        <h2>Comments</h2>
        {{#if user}}
            <button type="click" id="addComment">+</button>
        {{/if}}
        {{#if comments.length}}
        <ul>
        {{#each comments}} <!-- TODO Implement delete and edit comments. Waiting for user auth -->
            <li>
                <section class="comment" id="{{this._id}}">
                    <a href="/user/{{this.author}}">{{this.name}}</a>
                    {{#if this.isAuthor}}
                        <button type='click' class="editComment">Edit</button>
                        <button type="click" class="deleteComment">Delete</button>
                    {{/if}}
                    <p class="workoutDate">{{this.currentTime}}</p>
                    <p class="workoutMessage">{{this.comment}}</p>
                </section>
            </li>
        {{/each}}
        </ul>
    {{/if}}
    </section>   
    {{#if user}}
        <script src="/public/js/workouts/workout.js"></script>
        <script src="/public/js/workouts/workoutCommentsLoggedIn.js"></script>
    {{/if}}
    <script src="/public/js/workouts/workoutComments.js"></script>
{{/if}}